@model WebApp.ViewModels.ProductBrief
 
    @if (Model is not null)
    {
        
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm">
            <a href="/view/@Model.Id" class="text-decoration-none">
                <img src="@Model?.Pictures?.FirstOrDefault()" alt="" class="img-fluid card-img-top">
                </a>
            <div class="p-4">
                <h5> <a href="/view/@Model.Id" class="title text-dark text-decoration-none">@Model.Title</a></h5>
                <p class="description small text-muted mb-0">@Model.Description</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">@String.Format("{0:C}", Model.Price)</span></p>
                    <div class="badge bg-primary px-3 rounded-pill font-weight-normal">Trend</div>
                </div>
            </div>
        </div>
    </div>
    }